body {
    font-family: Arial, sans-serif;
    background-color: #dfc2c2;
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
  }
  
 
  
  .calculadora {
    width: 500px;
    margin: 0 auto;
    background-color:  #ce92d3;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #pantalla {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    color: #ce18d48f;
  }
  
  input[type="button"] {
    width: 80px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: #d39292;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #e01818;
  }
  
  input[type="button"]:last-child {
    margin-right: 0;
  }